@page
@model Test_Project.Pages.sqlDataAdapter
@{
    ViewData["Title"] = "SqlDataAdapter";

    DataTable dataTable = new DataTable();

    string connString = "Data Source=DESKTOP-90OC7A4\\SQLEXPRESS;Initial Catalog=Test_db;Integrated Security=true";
    string query = "SELECT [id] ,[FullName] ,[Phone] FROM [Test_db].[dbo].[Contacts]";

    using (SqlConnection conn = new SqlConnection(connString))
    {
        SqlCommand cmd = new SqlCommand(query, conn);
        try
        {
            conn.Open();

            SqlDataAdapter da = new SqlDataAdapter(cmd);
            da.Fill(dataTable);

            conn.Close();
            da.Dispose();
        }
        catch(Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }
}

<h1>This is Koorosh Page.</h1>
<br />

@{
    if(dataTable.Rows.Count>0)
    {
         foreach(DataRow row in dataTable.Rows)
         {
             <h1>@row["id"] @row["fullname"] @row["phone"]</h1>
            <br />
        }
    }else
    {
        <h1>!متاسفانه داده ای جهت نمایش یافت نشد</h1>
    }
}
